body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
}

.gallery {
  &__heading {
    color: red;
  }
  &__content {
    display: grid;
    grid-template: auto / repeat(3, 30%);
    justify-content: space-between;
  }
}

.item {
  &__box {
    border: 3px solid green;
    margin: 5%;
    height: 250px;
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
    height: 85%;
  }
  &__text {
    margin: 0;
    padding: 10px;
  }
  &__audio {
    width: 100%;
    height: 65%;
  }
  &__audio-box {
    width: 100%;
    height: 85%;
    background-color: #f1f3f4;
  }
}
